<div class="flex flex-row justify-around items-center h-56 ">

 
    <div class="flex flex-col text-gray-300 w-60 ">
        <p class="text-white">Menu</p>
        <a routerLink="home">Home</a>
        <a  routerLink="home">Our Team</a>
        <a  routerLink="home">Our Sponsors</a>
        <a  routerLink="home">Contact Us</a>
        <a  routerLink="home">Support</a>
        <a  routerLink="home">About</a>
    </div>
    <div class="flex flex-col justify-center items-center w-60 ">
        <div>
            <img src="../../../assets/FIRST-Logo.jpg" class="w-40">
        </div>
        <div class="flex justify-evenly pt-12 w-full">
            <i class="fa-brands fa-instagram fa-2xl"></i>
            <i class="fa-brands fa-threads fa-2xl"></i>
            <i class="fa-brands fa-x-twitter fa-2xl"></i>
        </div>
    </div>  
    <div class="text-gray-300 w-60">
        <p class="text-white">Contact</p>
        <p >examplegmail.com</p>
        <p>BARIŞ MAH. KOŞU YOLU CAD. </p>
        <p>TÜBİTAK FEN LİSESİ BLOK NO 42/5</p>
        <p>GEBZE / KOCAELİ</p>
    </div>
</div> 