<div id="cont" class="flex flex-row flex-nowrap items-center justify-around w-full pt-2 pb-4">
    <div id="grow-1" class="flex items-center pl-36">
        <img src="../../../assets/WhatsApp_Image_2023-11-11_at_19.50.37-removebg-preview.png" class="w-20 mr-2">
        <p class="text-3xl">TÜBİTECH#9694 Team</p>
    </div>
    <div id="grow-2" class="flex items-center justify-between pr-36 ">
        <div  routerLink="home"  class="hoverPP">
            Home
        </div>
        <div routerLink="social" class="hoverPP">
            Social
        </div>
        <div routerLink="ourTeam" class="hoverPP"> 
            Our Team
        </div>
        <div class="hoverPP">
            Our Sponsors
        </div>
        <div routerLink="contact" class="hoverPP">
            Contact Us
        </div>
        <div class="hoverPP">
            Support
        </div>
        <div class="hoverPP">
            About 
        </div>
        
    </div>
  
    
</div>
<div class="m-auto w-5/6 h-px bg-black"></div>